---
const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Page Not Found | Stance Pilates</title>
  </head>
  <body style="margin: 0;">
    <main
      style="color: #232129; padding: 96px; font-family: -apple-system, Roboto, sans-serif, serif;"
    >
      <h1 style="margin-top: 0; margin-bottom: 64px; max-width: 320px;">
        Page not found
      </h1>
      <p style="margin-bottom: 48px;">
        Sorry 😔, we couldn’t find what you were looking for.
        <br />
        {
          isDev && (
            <>
              <br />
              Try creating a page in{" "}
              <code style="color: #8a6534; padding: 4px; background-color: #fff4db; font-size: 1.25rem; border-radius: 4px;">
                src/pages/
              </code>
              .
              <br />
            </>
          )
        }
        <br />
        <a href="/">Go home</a>.
      </p>
    </main>
  </body>
</html>
