---
const presentYear = new Date().getFullYear();
---

<div
  style="display: flex; gap: 1.5rem; align-items: center; justify-content: center; padding: 2rem; font-size: 0.9em;"
>
  <div class="copyright">© {presentYear} Stance Pilates</div>
  <div>
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
  <div>
    <a href="/terms-and-conditions">Terms and Conditions</a>
  </div>
  <div>
    <a href="/accessibility">Accessibility</a>
  </div>
</div>
