---
interface Props {
  job: string;
  body: string[];
  quote: string;
}

const { job, body, quote } = Astro.props;
---

<div class="stance-job-card elevated bg-white">
  <div class="stance-job-title"><slot name="icon" /></div>
  <h2>{job}</h2>
  <div class="stance-job-body">
    {body.map((para) => <p class="stance-card">{para}</p>)}
  </div>
  <hr class="stance-job-line" />
  <blockquote class="stance-card-i">{quote}</blockquote>
</div>
